body{
	background: #E7D0CC

}

#container{
	/*width: 70%*/
	width: 1100px;
	margin: 0px auto;
	border: 1px solid red;
}

header{
	background: blueviolet;
	height: 100px;
	width: 100%;
	margin: 0px;
}
